#themeSwitch{
    top: 10px;
    right: 10px;
}
footer{
    position: relative;
    padding: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageBackground{
    background: grey;
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    height: 10%;
    background: var(--menu-color);
    text-align: left;
}
.menu .menuDiv{
    height: 100%;
    text-align: center;
    background-color: red;
    width: 20%;
}
.menu .menuDiv object{
    margin: 20px;
    scale: 2;
}