#themeSwitch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 10;
}
#themeSwitch svg{
    fill: var(--text-color);
}
#themeSwitch svg:last-child{
    display: none;
}
.lightmode #themeSwitch svg:first-child{
    display: none;
}
.lightmode #themeSwitch svg:last-child{
    display: block;
}